body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 10px;
        padding: 10px;
        background: url('1.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
    
}

header {
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}
